@use "base";

.container {
  img {
    margin: auto;
  }
  ul {
    float: right;
    padding-top: 0.5rem;
  }

  h1 {
    @include base.heading;
  }
}
@media screen and (min-width: 768px) {
  .main {
    @include base.mainContainer;
  }
  .recipeItem {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .main {
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 4rem;
  }
}
.recipeTitle {
  @include base.recipeTitle;
}
.recipeItem {
  //add shadow  to recipe item img
  @include base.recipeItem;
}
