.container{
    display: flex;
    flex-direction: column;

}
 .container > input {
    height: 50px;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba($color: #f1e7e7, $alpha: 1.0);
    max-width: 300px;
 }
  .container > button {
    height: 50px;
    background-color: antiquewhite;
     max-width: 300px;
    margin-bottom: 1rem;
 }